### Create Data Sampling 10% from Dataset

In [1]:
import pandas as pd

In [2]:
filename = "Word2Vec/Word2vecVector_3_0.01_50.csv"

In [3]:
df = pd.read_csv(filename, header=0)
df.head(5)

,Berita,Label,Category_id,Word2Vec Vector
0,"['duga', 'laku', 'keras', 'anak', 'isa', 'baja...",orang asing,4,"[0.18595603108406067, 0.09029663354158401, 0.2..."
1,"['miris', 'anak', 'jakarta', 'korban', 'keras'...",keluarga,0,"[0.5230919122695923, 0.1680660843849182, 0.322..."
2,"['polisi', 'aman', 'oknum', 'guru', 'sd', 'sin...",tenaga pendidik,2,"[0.353085994720459, 0.24666112661361694, 0.351..."
3,"['anak', 'tenggelam', 'catat', 'hitam', 'keras...",keluarga,0,"[0.2728378474712372, 0.2603999376296997, 0.426..."
4,"['sangka', 'bullying', 'sma', 'internasional',...",teman,3,"[0.33065786957740784, -0.05498578026890755, 0...."

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [8]:
data_samples = df.sample(frac = 0.10)

# Checking if sample is 0.10 times data or not 
  
if (0.10 * (len(df))== len(data_samples)): 
    print( "Cool") 
    print(len(df), len(data_samples)) 
  
# Display 
data_samples

,Berita,Label,Category_id,Word2Vec Vector
341,"['komnas', 'pa', 'kritik', 'sekolah', 'ramah',...",tenaga pendidik,2,"[0.2578524351119995, 0.37343114614486694, 0.42..."
931,"['babak', 'bur', 'amuk', 'massa', 'duga', 'cab...",orang asing,4,"[0.3970339894294739, 0.1592964231967926, 0.153..."
149,"['prostitusi', 'anak', 'surabaya', 'via', 'mic...",orang asing,4,"[0.40446731448173523, 0.234350323677063, 0.377..."
934,"['viral', 'sorot', 'mahfud', 'md', 'kuak', 'la...",pengasuh,1,"[0.29028379917144775, 0.3643357455730438, 0.43..."
941,"['detikdetik', 'cut', 'intan', 'nabila', 'puku...",keluarga,0,"[0.31686830520629883, 0.05335177481174469, 0.3..."
...,...,...,...,...
47,"['armor', 'suami', 'cut', 'intan', 'nabila', '...",keluarga,0,"[0.42943599820137024, -0.1530953049659729, 0.3..."
1,"['miris', 'anak', 'jakarta', 'korban', 'keras'...",keluarga,0,"[0.5230919122695923, 0.1680660843849182, 0.322..."
918,"['duga', 'alami', 'depresi', 'kota', 'diri', '...",keluarga,0,"[0.3708275854587555, 0.2949237525463104, 0.203..."
729,"['anak', 'tewas', 'padang', 'personel', 'polda...",orang asing,4,"[0.3556382358074188, 0.1878180056810379, 0.101..."
780,"['bocah', 'tular', 'pms', 'perkosa', 'kakek', ...",keluarga,0,"[0.47796186804771423, 0.36482205986976624, 0.3..."

In [10]:
# Save to CSV
data_samples.to_csv('Word2Vec/Sample Word2Vec Vector.csv', index=False)